<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Thiên Ngọc</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<script src = "http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
	<script src="handle.js"></script>
	<link href="css/xeditable.css" rel="stylesheet">
	<script src="xeditable.js"></script>
<style>

</style>
</head>
<script src="angular.min.js"></script>
<body style ="background-color: silver">
<div ng-app = "myApp" ng-controller = "myController">
    <div style = "width: 900px; margin: 50px auto; background-color: white" >
        <header style = "height: 300px; width: 900px; margin: 50px auto; background-color: white">

            <img src = {{Data[0].Avatar}}  alt="Myavatar" style="float:left;width:200px;height:200px;margin:30px;"/>

            <div>
                <div style = "font-size: 30px; padding-top:25px">
                    <a href="#" editable-text="Data[0].Ten">{{ Data[0].Ten || "empty" }}</a>
                </div>
                <div style = "font-size: 25px; color:silver">
                    <a style = "font-size: 25px; color:silver" href="#" editable-text="Data[0].MoTa">{{ Data[0].MoTa || "empty" }}</a>
                </div>
                <div style = "font-size: 20px; color: silver" >

                    <b>
                    <a style = "font-size: 20px; color:silver" href="#" editable-text="Data[0].QuocGia">{{ Data[0].QuocGia || "empty" }}</a> |
                    <a style = "font-size: 20px; color:silver" href="#" editable-text="Data[0].CongViec">{{ Data[0].CongViec || "empty" }}</a>
                    </b>
                </div>
                <br>
                <div style = "font-size: 15px; color:silver; display: inline">
                    <b>Contact Info: </b>
                </div>
                <a href="#" style ="font-size: 15px; color:black; display: inline" editable-text="Data[0].Email">{{ Data[0].Email || "empty" }}</a>


                <br>
                <div style = "font-size: 15px; color:silver; display: inline">
                    <b>Education: </b>
                </div>
                <a href="#" style ="font-size: 15px; color:black; display: inline" editable-text="Data[0].TruongHoc">{{ Data[0].TruongHoc || "empty" }}</a>


            </div>
        </header>
        <div style ="clear:both"></div>
        <div style="width: 1000px; height:30px; background-color:silver"></div>
        <div style = "font-size:15px; height: 200px; width: 900px; margin: 100px auto; background-color: white; margin-top: 10px">
            <div style = "font-size: 20px; color: silver; padding-top: 15px;margin-left: 20px">
                SUMMARY
                <form>
                    <label>Information:</label>
                    <input type="text" ng-model="summary"  ng-required/>
                    <input  type="button"  value="Save" ng-click="AddSummary()">
                </form>
                <hr style="border-top: 2px solid silver;">
				</br>
				<div ng-repeat="summary in Data[1]">
					<a style ="color:black; font-size: 15px" href="#" editable-text="summary.Summary">{{ summary.Summary || "empty" }}</a>
				</div>
            </div>
        </div>


        <div style="width: 1000px; height:30px; background-color:silver"></div>
        <div style = "height: 300px; width: 900px; margin: 10px auto; background-color: white">
            <div style = "font-size: 20px; color: silver; padding-top: 15px;margin-left: 20px">
                EXPERIENCE
                <form>
                    <label>Information:</label>
                    <input type="text" ng-model="experience" ng-required/>
                    <input  type="button"  value="Save" ng-click="AddExperience()">
                </form>

                <hr style="border-top: 2px solid silver;">

                </br>
                <div ng-repeat="experience in Data[5]">
                    <a style ="color:black; font-size: 15px" href="#" editable-text="experience.Experience">{{ experience.Experience|| "empty" }}</a>
                </div>
            </div>

        </div>

        <div style="width: 1000px; height:30px; background-color:silver"></div>
        <footer style = "height: 300px; width: 900px; margin: 10px auto; background-color: white">
            <div style = "font-size: 20px; color: silver; padding-top: 15px;margin-left: 20px">
                PROJECT
                <form>
                    <label>Information:</label>
                    <input type="text" ng-model="project" ng-required/>
                    <input  type="button"  value="Save" ng-click="AddProject()">
                </form>

                <hr style="border-top: 2px solid silver;">

                </br>
                <div ng-repeat="project in Data[2]">
                    <a style ="color:black; font-size: 15px" href="#" editable-text="project.Project">{{ project.Project|| "empty" }}</a>
                </div>
            </div>
        </footer>



        <div style="width: 1000px; height:30px; background-color:silver"></div>
        <div style = "height: 300px; width: 900px; margin: 10px auto; background-color: white">
            <div style = "font-size: 20px; color: silver; padding-top: 15px;margin-left: 20px">
                SKILLS
                <form>
                    <label>Information:</label>
                    <input type="text" ng-model="skill" ng-required/>
                    <input  type="button"  value="Save" ng-click="AddSkill()">
                </form>

                <hr style="border-top: 2px solid silver;">

                </br>
                <div ng-repeat="skill in Data[3]">
                    <a style ="color:black; font-size: 15px" href="#" editable-text="skill.Skill">{{ skill.Skill|| "empty" }}</a>
                </div>
            </div>
            <hr style="border-top: 2px solid silver;">

        </div>



        <div style="width: 1000px; height:30px; background-color:silver"></div>
        <div style = "height: 300px; width: 900px; margin: 10px auto; background-color: white">
            <div style = "font-size: 20px; color: silver; padding-top: 15px;margin-left: 20px">
                EDUCATION
                <form>
                    <label>Information:</label>
                    <input type="text" ng-model="education" ng-required/>
                    <input  type="button"  value="Save" ng-click="AddEducation()">
                </form>

                <hr style="border-top: 2px solid silver;">

                </br>
                <div ng-repeat="education in Data[6]">
                    <a style ="color:black; font-size: 15px" href="#" editable-text="education.Education">{{ education.Education|| "empty" }}</a>
                </div>
            </div>
            
        </div>



    </div>
</div>


</body>
</html>